*
{
  margin: 0;
  padding: 0;
}

.Mens-prod-Count
{
  margin: 20px 30px;
  font-size: 2rem;
}
.Filter-Panel-Main
{
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.Filter-Panel2
{
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
}
.Filter-Sidemenu
{
  display: flex;
  overflow-y: scroll;
  width: 30%;
  /* height: 100%; */
}

.Filter-product
{
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.dropdown-Main {
  display: flex;
  flex-direction: column;
}

.dropdown-options {
  display: none;
}

.dropdown-options.show {
  display: flex;
  flex-direction: column;

}
